@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vina+Sans&display=swap");
:root {
  --green: #004542;
  --lgreen: #ddf6e6;
  --violet: #5c47a0;
  --lviolet: #deddff;
  --white: #ffffff;
  --red: #ffccd3;
  --lred: #ffdce0;
  --yellow: #fff5e3;
  --blue: #d6f0ff;
  --rred: #d4809b;
}
@font-face {
  font-family: "Maragsa";
  src: url("../font/Maragsâ-Display.woff2") format("woff2");
}
/* * {
  outline: 1px solid #f00 !important;
} */
body {
  overflow-x: hidden;
}
.inter {
  font-family: "Inter Tight", "sans-serif";
  letter-spacing: -0.6px;
}
.vina {
  font-family: "Vina Sans";
  letter-spacing: -0.25rem;
  text-transform: uppercase;
}
.gara {
  font-family: "Cormorant Garamond";
}
.desktop-view {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh; /* Adjust the height as needed */
}
.desktop-view .webview_logo {
  width: 40vw;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.navbar-m {
  margin-top: 35vh;
}
.disclaimer_intro {
  display: block;
  text-align: center;
  font-size: 5vw;
  padding-left: 15vw;
  padding-right: 15vw;
}
#menuBtn {
  background-color: none;
  /* padding: 4px 8px 8px 8px; */
  line-height: 12px;
  position: fixed;
  right: 3vw;
  top: 3vh;
  z-index: 31030;
  cursor: pointer;
}
#sideNav {
  width: 40rem;
  height: 100vh;
  position: fixed;
  right: -4vw;
  top: 0;
  background: #ddf6e6;
  z-index: 21000;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5vw;
  /* align-items: center; */
}
.navbar_logo {
  width: 7rem;
  height: 7rem;
  z-index: 50003;
  position: fixed;
  right: 3vw;
}
.circle {
  text-align: center;
  margin-top: 10%;
  font-size: 4rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: var(--black);
  text-align: center;
  line-height: 50px; /* center the text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  position: relative;
  margin-bottom: 1vh;
}
.circle1 {
  position: absolute;
  top: 50;
  left: 50;
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  background-color: var(--green);
  color: var(--green);
}
.nav_text {
  /* line-height: 89px; */
  color: #004542;
  font-size: 2.5rem;
}
.nav_text1 {
  color: #004542;
  /* line-height: 89px; */
  font-size: 2.5rem;
}
.nav_text1:hover {
  /* line-height: 89px; */
  font-size: 2.5rem;
  color: var(--violet);
}
.credit_nav {
  margin-top: 30vh;
}
.credit_nav:hover {
  margin-top: 30vh;
  color: var(--violet);
}
.nav_text2 {
  color: #004542;
  /* line-height: 89px; */
  font-size: 2.5rem;
}
.nav_text2:hover {
  /* line-height: 89px; */
  font-size: 2.5rem;
  color: var(--violet);
}
.nav_text3 {
  color: #004542;
  /* line-height: 89px; */
  font-size: 2.5rem;
}
.nav_text3:hover {
  /* line-height: 89px; */
  font-size: 2.5rem;
  color: var(--violet);
}
.nav_text4 {
  /* line-height: 89px; */
  padding-top: 21px;
  font-size: 2.5rem;
}
.nav_text4:hover {
  /* line-height: 89px; */
  padding-top: 21px;
  font-size: 2.5rem;
  color: #2a47a7;
}

.nav_num1 {
  position: absolute; /* make the letter position:absolute */
  top: -25%; /* adjust as needed */
  text-align: center;
  margin-top: 10%;
  font-size: 4rem;
}
.nav_num2 {
  position: absolute; /* make the letter position:absolute */
  top: -27%; /* adjust as needed */
  text-align: center;
  margin-top: 10%;
  font-size: 4rem;
}
.nav_num3 {
  position: absolute; /* make the letter position:absolute */
  top: -30%; /* adjust as needed */
  left: 30%;
  text-align: center;
  margin-top: 10%;
  font-size: 4rem;
}
.nav_num4 {
  position: absolute; /* make the letter position:absolute */
  top: -33%; /* adjust as needed */
  text-align: center;
  margin-top: 10%;
  font-size: 4rem;
}
.text-green {
  color: var(--green);
}

.text-lgreen {
  color: var(--lgreen);
}

.text-violet {
  color: var(--violet);
}

.text-lviolet {
  color: var(--lviolet);
}

.text-white {
  color: var(--white);
}

.text-red {
  color: var(--red);
}

.text-lred {
  color: var(--lred);
}

.text-yellow {
  color: var(--yellow);
}
.bg-green {
  background-color: var(--green);
}

.bg-lgreen {
  background-color: var(--lgreen);
}

.bg-violet {
  background-color: var(--violet);
}

.bg-lviolet {
  background-color: var(--lviolet);
}

.bg-white {
  background-color: var(--white);
}

.bg-red {
  background-color: var(--red);
}

.bg-lred {
  background-color: var(--lred);
}

.bg-yellow {
  background-color: var(--yellow);
}
.bg-blue {
  background-color: var(--blue);
}
.mar_font {
  font-family: "Maragsa", "Perpetua", "Times New Roman", serif;
}
.footer1 {
  padding-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.credits_ch {
  background-color: var(--black);
}
.jpean {
  font-size: 3rem;
}
a {
  text-decoration: none;
}
.navlink:hover {
  color: var(--violet);
}
.navlink:hover:after {
  width: 100%;
}
.navlink {
  position: relative;
  text-decoration: none;
  color: var(--green);
  letter-spacing: 0.5px;
  padding: 0 3px;
  z-index: 1003;
  animation: 1s ease-out 0s 1 leftAnimation;
}
.navlink:after {
  content: "";
  position: absolute;
  background-color: var(--violet);
  height: 2px;
  width: 0;
  left: 0;
  bottom: -1px;
  transition: 0.3s;
}
.navlinkb:hover {
  color: white;
}
.navlinkb:hover:after {
  width: 100%;
}
.navlinkb {
  position: relative;
  text-decoration: none;
  color: white;
  letter-spacing: 0.5px;
  padding: 0 3px;
  z-index: 1003;
  animation: 1s ease-out 0s 1 leftAnimation;
}
.navlinkb:after {
  content: "";
  position: absolute;
  background-color: white;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -1px;
  transition: 0.3s;
}
.block_question {
  width: 100%;
  height: 150vh;
  display: grid;
  grid-template-areas: "main";
  place-items: center;
  background-color: var(--blue);
}
.block_question1 {
  width: 100%;
  height: 150vh;
  display: grid;
  grid-template-areas: "main";
  place-items: center;
  background-color: var(--blue);
}
.block_question2 {
  width: 100%;
  height: 150vh;
  display: grid;
  grid-template-areas: "main";
  place-items: center;
  background-color: var(--red);
}
.block_question3 {
  width: 100%;
  height: 150vh;
  display: grid;
  grid-template-areas: "main";
  place-items: center;
  background-color: var(--lviolet);
}
/* .dot {
  grid-area:main;
  width: 50px;
  height: 50px;
  border-radius: 50%;
} */
.text_1_2 {
  color: var(--black);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.text_2_2 {
  color: var(--black);
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
}
.text_3_2 {
  color: var(--black);
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
}
.text_4_2 {
  color: var(--black);
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
}
.text_1_3 {
  color: var(--black);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.text_2_3 {
  color: var(--black);
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
}
.text_3_3 {
  color: var(--black);
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
}
.text_4_3 {
  color: var(--black);
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
}
.text_5_3 {
  color: var(--black);
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
}
.text_1 {
  color: var(--black);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.text_2 {
  color: var(--black);
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
}
.text_3 {
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
}
.text_4 {
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
}
.parts {
  line-height: 8rem;
  padding-left: 20rem;
  padding-right: 20rem;
  font-size: 10rem;
  position: absolute;
  color: var(--violet);
}
@keyframes scrollPromptAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Adjust the distance as needed */
  }
}

.scroll-prompt {
  height: 2rem;
  width: 2rem;
  /* bottom: 20px; Adjust the distance from the bottom as needed */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  animation: scrollPromptAnimation 1s infinite;
  display: block;
  margin-top: 50vh;
}
.image-stack {
  display: flex;
  flex-direction: column;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the height to 100% of the viewport height */
}
.introductions {
  display: flex;
  align-items: center;
  justify-content: center; /* Center content vertically */
  flex-direction: column;
  height: 100vh;
}
.ch-intro {
  display: flex;
  align-items: center;
  justify-content: center; /* Center content vertically */
  flex-direction: column;
  height: 210vh;
}
.ch-intro2 {
  display: flex;
  align-items: center;
  justify-content: center; /* Center content vertically */
  flex-direction: column;
  height: 210vh;
}
.ch-intro3 {
  display: flex;
  align-items: center;
  justify-content: center; /* Center content vertically */
  flex-direction: column;
  height: 210vh;
}
.ch1-1 {
  height: 250vh;
}
.ch2-1 {
  height: 250vh;
}
.ch3-1 {
  height: 250vh;
}
.ch-text {
  letter-spacing: -8px;
  transform: scale(1, 1.5);
  /* Safari and Chrome */
  -webkit-transform: scale(1, 1.5);
  /* Firefox */
  -moz-transform: scale(1, 1.5);
  /* IE 9+ */
  -ms-transform: scale(1, 1.5);
  /* Opera */
  -o-transform: scale(1, 1.5);
  opacity: 0;
}
.o-0 {
  opacity: 0;
}
.foreword {
  padding-top: 60vh;
  height: 130vh;
}
.chapter-text {
  letter-spacing: -3px;
  transform: scale(1, 1.5);
  /* Safari and Chrome */
  -webkit-transform: scale(1, 1.5);
  /* Firefox */
  -moz-transform: scale(1, 1.5);
  /* IE 9+ */
  -ms-transform: scale(1, 1.5);
  /* Opera */
  -o-transform: scale(1, 1.5);
}
/* Rest of your existing styles... */
.exp-prompt {
  line-height: 1rem;
  letter-spacing: 0.001rem;
}
.img-container {
  position: relative;
}

.image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the height to 100% of the viewport height */
}
.image-container img {
  position: absolute;
  top: 0;
  left: 0;
}
.dynamic-intro {
  margin-top: 35vh;
}
.content-container {
  position: absolute;
  text-align: center;
}

.image-container1 {
  position: relative;
  text-align: center;
}

.text-overlay {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Adjust text color as needed */
}

.text-overlay p {
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold; /* Adjust font weight as needed */
  /* Additional styling if necessary */
}
.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20vh; /* Adjust the height as needed */
}

.centered-text {
  font-size: 18px; /* Adjust the font size as needed */
  /* Additional styling if necessary */
}

/* .block {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas: "main";
  place-items: center;
  z-index: 200;
}
.dot {
  margin-top: 45vh;
  grid-area: main;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--green);
  z-index: 3000;
  opacity: 1;
  display: none;
}
.quote {
  width: 100%;
  margin-top: 45vh;
  text-align: center;
  z-index: 300;
  grid-area: main;
  font-size: 7vw;
  font-weight: 900;
  color: var(--green);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

.centered-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
/* .centered-elements {
  position: relative;
} */
.img1 {
  position: relative;
  top: 50;
  left: 50;
}
.circle {
  position: absolute;
  background-color: var(--green); /* Adjust the color as needed */
  width: 55rem; /* Adjust the size as needed */
  height: 55rem; /* Adjust the size as needed */
  border-radius: 50%;
  z-index: 1; /* Move the circle to the background */
}

#banner {
  overflow: hidden;
  width: 100%;
  height: 150vh;
  position: relative;
  z-index: -1;
  clear: both;
  background: transparent url("../img/party.webp") fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://unsplash.it/800/800?image=822',sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://unsplash.it/800/800?image=822',sizingMethod='scale')";
}
#banner1 {
  overflow: hidden;
  width: 100%;
  height: 150vh;
  position: relative;
  z-index: -1;
  clear: both;
  background: transparent url("../img/addiction1.webp") fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://unsplash.it/800/800?image=822',sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://unsplash.it/800/800?image=822',sizingMethod='scale')";
}
.banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 150%;
  opacity: 0.6;
  z-index: 12;
}

.wrap-center {
  margin: 0 auto;
  position: relative;
  max-width: 73.231em;
  z-index: 100;
}
.banner-centered {
  position: absolute;
  display: block;
  max-width: 75.231em;
  height: inherit;
  overflow: hidden;
  margin-top: 260px;
}
.banner-centered h2 {
  line-height: 1;
  text-transform: uppercase;
  font-weight: 100;
  display: block;
}
.box1 {
  width: 40%;
  box-sizing: border-box;
  height: 150vh;
}
.box2 {
  width: 60%;
  box-sizing: border-box;
  height: 150vh;
}
.box2_3 {
  padding-top: 15vh;
  width: 60%;
  box-sizing: border-box;
  height: 250vh;
}
.box2_3_2 {
  width: 60%;
  box-sizing: border-box;
  height: 250vh;
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.box3 {
  width: 35%;
  box-sizing: border-box;
  height: 60vh;
}
.box4 {
  width: 65%;
  box-sizing: border-box;
  height: 60vh;
}
.person1 {
  width: 20rem;
}
.person2 {
  width: 20rem;
}
.hole1 {
  width: 30rem;
}
.hole2 {
  padding-top: 35rem;
  width: 30rem;
}

.scroll_img1,
.scroll_img2,
.scroll_img3,
.scroll_img4,
.scroll_img5,
.scroll_img6,
.scroll_img7,
.scroll_img8,
.scroll_img9,
.scroll_img10,
.scroll_img11,
.scroll_img12 {
  width: 40vw;
  z-index: 12;
  position: absolute;
}
.scroll_img1 {
  top: 25%;
  left: 7%;
}
.scroll_img2 {
  top: 100%;
  left: 7%;
}
.scroll_img3 {
  top: 100%;
  left: 7%;
}
.scroll_img4 {
  top: 100%;
  left: 7%;
}
.scroller1 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: var(--lred);
}
.circle_scroll_left1 {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 30vw; /* Adjust size as needed */
  height: 30vw; /* Adjust size as needed */
  border-radius: 50%;
  background-color: rgb(212, 128, 155);
  z-index: 4;
}
.desc_pane_left1 {
  position: absolute;
  left: 50%;
  width: 50vw; /* Adjust size as needed */
  height: 100vh; /* Adjust size as needed */
  background-color: var(--white);
  z-index: 4;
}
.title_left1 {
  position: absolute;
  top: 5%;
  left: 55%;
  width: 40vw; /* Adjust size as needed */
  z-index: 7;
}
.desc1_1 {
  position: absolute;
  top: 50%;
  left: 55%;
  width: 40vw; /* Adjust size as needed */
  z-index: 7;
  font-size: 1.7vw;
  float: left;
}
.desc1_2 {
  position: absolute;
  top: 60%;
  left: 55%;
  width: 40vw; /* Adjust size as needed */
  z-index: 7;
  font-size: 1.7vw;
  float: left;
}
.desc1_3 {
  position: absolute;
  top: 73%;
  left: 55%;
  width: 40vw; /* Adjust size as needed */
  z-index: 7;
  font-size: 1.7vw;
  float: left;
}
.desc1_4 {
  position: absolute;
  top: 83%;
  left: 55%;
  width: 40vw; /* Adjust size as needed */
  z-index: 7;
  font-size: 1.7vw;
  float: left;
}
.arrow1,
.arrow2,
.arrow3,
.arrow4,
.arrow5,
.arrow6,
.arrow7,
.arrow8,
.arrow9,
.arrow10,
.arrow11,
.arrow12 {
  padding-top: 0.5vh;
  padding-right: 1vh;
  width: 2.5vw;
  display: none;
  float: left;
  opacity: 0;
}
.separator21 {
  /* position: relative; */
  height: 105vh;
  width: auto;
  background-color: var(--white);
  opacity: 1;
}
.separator2_3 {
  /* position: relative; */
  height: 205vh;
  width: auto;
  background-color: var(--white);
  opacity: 1;
}

.card_container {
  display: block;
}
.scroll_card1 {
  padding-top: 10vh;
  padding-bottom: 10vh;
  width: 100%;
  color: var(--black);
  height: 100vh;
}
.scroll_card2 {
  display: block;
  padding-top: 10vh;
  padding-bottom: 10vh;
  width: 100%;
  color: var(--black);
  height: 200vh;
}
.cards2 {
  position: relative;
  /* height: 70vh;
  width: 30vw; */
  float: left;
}
.scroll_side_img2 {
  width: 30vw;
  position: absolute;
  margin-left: 15vw;
  object-fit: cover;
  animation: rotateAnimation 4s linear infinite; /* Adjust the duration as needed */
}
.gift {
  width: 20rem;
  margin-top: 5rem;
  animation: rotateAnimation 46s linear infinite;
}
.dice {
  width: 20rem;
  margin-top: 5rem;
  animation: rotateAnimation 46s linear infinite;
}
.wine {
  width: 30rem;
  margin-top: 5rem;
  animation: rotateAnimation 46s linear infinite;
}
.withdraw {
  width: 20rem;
  margin-top: 5rem;
  animation: rotateAnimation 46s linear infinite;
}
@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card2 {
  width: 25vw;
  margin-left: 63vw;
  border-radius: 2rem;
  position: absolute;
  inset: 0;
  color: var(--black);
  padding: 20px;
  font-size: 1.7vw;
}
.first2 {
  background: var(--green);
  z-index: 1;
  color: #ddf6e6;
}
.second2 {
  background: rgb(212, 128, 155);
  color: #ffccd3;
  top: 5vh;
  z-index: 2;
}
.third2 {
  background: var(--violet);
  top: 10vh;
  color: #deddff;
  z-index: 3;
}
.fourth2 {
  background: rgb(235, 6, 13);
  top: 15vh;
  z-index: 4;
}
.fifth2 {
  background: rgb(255, 194, 0);
  top: 20vh;
  z-index: 5;
}
.card_separator {
  height: 20vh;
  width: auto;
  background-color: #f4f4f4;
  opacity: 0;
}
#canvas {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-height: 100%;
  mix-blend-mode: luminosity;
}
.brain_container {
  padding-top: 5rem;
  height: 100vh;
  background-color: var(--green);
}

.carousel {
  position: relative;
  z-index: 1;
  height: 300vh;
  overflow: hidden;
  pointer-events: none;
}
.carousel-item {
  --items: 10;
  --width: clamp(150px, 30vw, 400px);
  --height: clamp(200px, 40vw, 500px);
  --x: calc(var(--active) * 800%);
  --y: calc(var(--active) * 200%);
  --rot: calc(var(--active) * 120deg);
  --opacity: calc(var(--zIndex) / var(--items) * 3 - 2);
  overflow: hidden;
  position: absolute;
  z-index: var(--zIndex);
  width: var(--width);
  height: var(--height);
  margin: calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  user-select: none;
  transform-origin: 0% 100%;
  box-shadow: 0 10px 50px 10px rgba(0, 0, 0, 0.5);
  background: black;
  pointer-events: all;
  transform: translate(var(--x), var(--y)) rotate(var(--rot));
  transition: transform 0.8s cubic-bezier(0, 0.02, 0, 1);
}
.carousel-item .carousel-box {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  opacity: var(--opacity);
  font-family: "Orelo-sw-db", serif;
}
.carousel-item .carousel-box:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.5)
  );
}
.carousel-item .title {
  font-family: "Inter";
  letter-spacing: -0.15rem;
  position: absolute;
  z-index: 1;
  color: #fff;
  bottom: 20px;
  left: 20px;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  font-size: clamp(20px, 3vw, 30px);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.carousel-item .num {
  position: absolute;
  z-index: 1;
  color: #fff;
  top: 10px;
  left: 20px;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  font-size: clamp(20px, 10vw, 80px);
}
.layout {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100%;
  pointer-events: none;
}
.layout:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 90px;
  width: 10px;
  height: 100%;
  border: 1px solid #fff;
  border-top: none;
  border-bottom: none;
  opacity: 0.15;
}
.layout .box {
  position: absolute;
  bottom: 0;
  left: 30px;
  color: #fff;
  transform-origin: 0% 10%;
  transform: rotate(-90deg);
  font-size: 9px;
  line-height: 1.4;
  text-transform: uppercase;
  opacity: 0.4;
}
.social {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  right: 25px;
  color: #fff;
  opacity: 0.4;
}
.social a {
  display: inline-block;
  margin-left: 3px;
}
.social svg {
  --fill: #fff;
  width: 35px;
  height: 35px;
}
.cursor {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  --size: 40px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: calc(var(--size) * -0.5) 0 0 calc(var(--size) * -0.5);
  transition: transform 0.85s cubic-bezier(0, 0.02, 0, 1);
  display: none;
  pointer-events: none;
}
@media (pointer: fine) {
  .cursor {
    display: block;
  }
}
.cursor2 {
  --size: 2px;
  transition-duration: 0.7s;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.cycler {
  width: 55rem;
  height: 55rem;
  animation: rotate 16s linear infinite;
}
.image_cycle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
/* *, *:before, *:after {
  box-sizing: border-box;
} */

/* body {
  padding: 2em;
  background: #003;
  color: #fff;
}
 */
 .wrapper {
  max-width: 60em;
  margin: 0 auto;
  background-color: var(--green);
}

.scroll-cards {
  counter-reset: card;
  position: relative;
  display: block;
  padding-bottom: 80vh;
}

.scroll-cards > .scroll-cards__item + .scroll-cards__item {
  margin-top: 40vh;
}

.scroll-cards h1 {
  position: sticky;
  top: 2rem;
  font-size: 2em;
  margin: 0 0 0.5em;
}

.scroll-cards__item {
  /* font-size: 5rem; */
  --offset: 0.5em;
  color: var(--violet);
  position: sticky;
  top: max(16vh, 10em);
  padding: 2em 1.5em;
  min-height: 19em;
  background: #fff;
  width: calc(100% - 5 * var(--offset));
  border-radius: 2rem;
}

h2 {
  font-size: 1.25em;
  text-transform: uppercase;
  margin: 0;
}

/* p {
  font-size: 3rem;
  line-height: 1.5;
} */

/*
If you use SASS you can shorten this one here like this:

@for $i from 0 through 5 {
  &:nth-of-type(#{$i}) {
    transform: translate(calc((#{$i} - 1) * var(--offset)), calc((#{$i} - 1) * var(--offset)));
  }
}
*/
.scroll-cards__item:nth-of-type(0) {
  transform: translate(calc((0 - 1) * var(--offset)), calc((0 - 1) * var(--offset)));
  background: var(--blue); /* Orange background for the first card */
}
.scroll-cards__item:nth-of-type(1) {
  transform: translate(calc((1 - 1) * var(--offset)), calc((1 - 1) * var(--offset)));
  background: var(--lgreen); /* Green background for the second card */
}
.scroll-cards__item:nth-of-type(2) {
  transform: translate(calc((2 - 1) * var(--offset)), calc((2 - 1) * var(--offset)));
  background: var(--lred); /* Purple background for the third card */
}
.scroll-cards__item:nth-of-type(3) {
  transform: translate(calc((3 - 1) * var(--offset)), calc((3 - 1) * var(--offset)));
  background: var(--yellow); /* Yellow background for the fourth card */
}
.scroll-cards__item:nth-of-type(4) {
  transform: translate(calc((4 - 1) * var(--offset)), calc((4 - 1) * var(--offset)));
  background: var(--lviolet); /* Pink background for the fifth card */
}
.scroll-cards__item:nth-of-type(5) {
  transform: translate(calc((5 - 1) * var(--offset)), calc((5 - 1) * var(--offset)));
  background: var(--blue); /* Cyan background for the sixth card */
}
.scroll-cards__item:nth-of-type(6) {
  transform: translate(calc((6 - 1) * var(--offset)), calc((6 - 1) * var(--offset)));
  background: var(--lgreen); /* Cyan background for the sixth card */
}
.scroll-cards__item:nth-of-type(7) {
  transform: translate(calc((7 - 1) * var(--offset)), calc((7 - 1) * var(--offset)));
  background: var(--red); /* Cyan background for the sixth card */
}
.scroll-cards__item:nth-of-type(8) {
  transform: translate(calc((8 - 1) * var(--offset)), calc((8 - 1) * var(--offset)));
  background: var(--yellow); /* Cyan background for the sixth card */
}



@media screen and (min-width: 37em) {
  h1 {
    font-size: 3em;
  }
  .scroll-cards__item {
    --offset: 1em;
    padding-left: 5em;
  }
  .scroll-cards__item:before {
    counter-increment: card;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.75em;
    height: 2.75em;
    background: #f09;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    left: 1.25em;
    top: 1.25em;
    font-weight: bold;
  }
}

@media screen and (min-width: 62em) {
  .scroll-cards h1 {
    font-size: 3em;
  }
  .scroll-cards__item {
    --offset: 1.25em;
    max-width: 65rem;
    height: 35rem;
  }
}
:root {
	--card-height: 40vw;
	--card-margin: 4vw;
	--card-top-offset: 1em;
	--numcards: 4;
	--outline-width: 0px;
}

#cards {
	padding-bottom: calc(var(--numcards) * var(--card-top-offset)); /* Make place at bottom, as items will slide to that position*/
	margin-bottom: var(--card-margin); /* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
}

#card_1 {
	--index: 1;
}

#card_2 {
	--index: 2;
}

#card_3 {
	--index: 3;
}

#card_4 {
	--index: 4;
}

.card {
	position: sticky;
	top: 0;
	padding-top: calc(var(--index) * var(--card-top-offset));
}

@supports (animation-timeline: works) {

	@scroll-timeline cards-element-scrolls-in-body {
		source: selector(body);
		scroll-offsets:
			/* Start when the start edge touches the top of the scrollport */
			selector(#cards) start 1,
			/* End when the start edge touches the start of the scrollport */
			selector(#cards) start 0
		;
		start: selector(#cards) start 1; /* Start when the start edge touches the top of the scrollport */
		end: selector(#cards) start 0; /* End when the start edge touches the start of the scrollport */
		time-range: 4s;
	}

	.card {
		--index0: calc(var(--index) - 1); /* 0-based index */
		--reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
		--reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
	}
	
	.card__content {
    margin-top: 3rem;
    height: 50vh;
    font-family: 'Inter';
		transform-origin: 50% 0%;
		will-change: transform;

		--duration: calc(var(--reverse-index0) * 1s);
		--delay: calc(var(--index0) * 1s);

		animation: var(--duration) linear scale var(--delay) forwards;
		animation-timeline: cards-element-scrolls-in-body;
	}

	@keyframes scale {
		to {
			transform:
				scale(calc(
					1.1
					-
					calc(0.1 * var(--reverse-index))
				));
		}
	}
}

#cards {
	list-style: none;
	outline: calc(var(--outline-width) * 10) solid blue;
	
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--numcards), var(--card-height));
	gap: var(--card-margin);
}

.card {
	outline: var(--outline-width) solid hotpink;
}

.card__content {
	color: rgb(10, 5, 7);
	border-radius: 1em;
	overflow: hidden;
  height: 50vh;
	/* display: grid;
	grid-template-areas: "text img";
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto; */

	align-items: stretch;
	outline: var(--outline-width) solid lime;
}

.card__content > div {
	grid-area: text;
	width: 80%;
	place-self: center;
	text-align: left;

	display: grid;
	gap: 1em;
	place-items: start;
}

.card__content > figure {
	grid-area: img;
	overflow: hidden;
}

.card__content > figure > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* marquee {
  width: 100vw;
  height: 100vh;
} */
.typewrite {
  text-decoration: none;
}
.ch2_3 {
  padding-left: 15vw;
  font-size: 10rem;
  width: 100vw;
  height: 100vh;
  line-height: 8rem;
  color: #ddf6e6;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
}
.border {
  width: 100vw;
  background-color: var(--yellow);
}
.dialogue {
  width: 100vw;
  height: 100vh;
  background-color: var(--yellow);
}
.dialogue2 {
  width: 100vw;
  height: 100vh;
  background-color: var(--lviolet);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overlay-image {
  position: absolute;
  bottom: 0;
  left: -60vw;
  max-width: 100%;
  max-height: 100%;
}
.liked {
  position: absolute;
  left: -70vw;
}

.div2 {
  padding: 10vh;
  display: flex;
  height: 100vh;
  width: 240vw;
  position: relative;
  /* background-color: var(--yellow); */
}
.div2 div {
  width: 50vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.docu_img {
  width: 28vw;
  height: 70vh;
  border-radius: 2vw;
  margin-left: 1vw;
  margin-right: 1vw;
  object-fit: cover;
}
.docu_img2 {
  width: 45vw;
  height: 70vh;
  padding-left: 1vw;
  padding-right: 1vw;
  object-fit: cover;
}

.filter {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px
}

.container3 {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 30vh;
  padding-bottom: 30vh;
}

.text3 {
  text-align: center;
  font-size: 4vw;
  font-weight: 300;
}

.text3 * {
  opacity: 0.25;
  transition: 0.25s ease
}

[animate] .word {
  opacity: 0.2;
}


:root {
  --color: var(--lviolet);
  --underline-width: 1lh;
  --underline-block-width: 200vmax;
  --underline-color: var(--lviolet);
  --underline-color-hover: hsl(180 100% 50% / 1);
  --underline-transition: 5s;
  --finish-fill: var(--violet);
  --accent: hsl(0 0% 100%);
  --fill: #b6abdb;
}


:root:has(#driver:checked) main {
	outline: 1rem dashed hsl(0 80% 50% / 0.5);
	background: hsl(0 80% 50% / 0.1);
}

header, footer {
  height: 100vh;
  color: var(--finish-fill);
  display: grid;
  place-items: center;
  font-size: clamp(2rem, 4vw + 1rem, 12rem);
}

p.finexc {
  resize: both;
  max-width: 70vw;
  overflow: hidden;
  padding: 5vw;
	margin: 0;
}

p.finexc  > span.finexc {
	outline-color: hsl(10 80% 50%);
	outline-offset: 1ch;
	font-size: clamp(3rem, 4vw + 1rem, 10rem);
  color: var(--color);
  text-decoration: none;
  background-image:
		linear-gradient(90deg, transparent calc(100% - 8ch), var(--accent) calc(100%  - 8ch)),
  	linear-gradient(90deg, var(--fill), var(--fill)),
    linear-gradient(90deg, var(--underline-color), var(--underline-color));
  background-size:
  	var(--underline-block-width) var(--underline-width),
  	var(--underline-block-width) var(--underline-width),
    100% var(--underline-width);
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 100%;
  background-clip: text;
  color: var(--finish-fill);
}

/*p > span {
  background-clip: unset;
  color: transparent;
  background-position-x: -200vmax, -200vmax, 0;
  animation: fill-up 4s infinite linear;
}

@keyframes fill-up {
  to { background-position-x: 0, 0, 0; }
}*/

.finex {
  height: 200vh;
}

section {
  position: sticky;
  top: 0;
	height: 100vh;
	width: 100vw;
  display: grid;
  place-items: center;
}


@supports (animation-timeline: scroll()) {
  @media (prefers-reduced-motion: no-preference) {
    main {
      view-timeline-name: --section;
    }
    
    p.finexc > span.finexc {
      background-position-x:
        calc(var(--underline-block-width) * -1),
        calc(var(--underline-block-width) * -1),
        0;
      color: transparent;
      animation-name: fill-up, color-in;
      animation-fill-mode: both;
      animation-timing-function: linear;
    	animation-timeline: --section;
    	animation-range: entry 100% cover 50%, cover 50% exit 0%;
    }

    @keyframes fill-up {
    	to { background-position-x: 0, 0, 0; }
    }

    @keyframes color-in {
    	to { color: var(--finish-fill); }
    }
  }
}

